@font-face {
	font-family: 'Gilroy-Bold';
	src: url('../font/Gilroy-Bold.eot');
	src: url('../font/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
		url('../font/Gilroy-Bold.woff2') format('woff2'),
		url('../font/Gilroy-Bold.woff') format('woff'),
		url('../font/Gilroy-Bold.ttf') format('truetype');
}
@font-face {
	font-family: 'Gilroy-Regular';
	src: url('../font/Gilroy-Regular.eot');
	src: url('../font/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
		url('../font/Gilroy-Regular.woff2') format('woff2'),
		url('../font/Gilroy-Regular.woff') format('woff'),
		url('../font/Gilroy-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Gilroy-Medium';
	src: url('../font/Gilroy-Medium.eot');
	src: url('../font/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
		url('../font/Gilroy-Medium.woff2') format('woff2'),
		url('../font/Gilroy-Medium.woff') format('woff'),
		url('../font/Gilroy-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'Gilroy-Semibold';
	src: url('../font/Gilroy-Semibold.eot');
	src: url('../font/Gilroy-Semibold.eot?#iefix') format('embedded-opentype'),
		url('../font/Gilroy-Semibold.woff2') format('woff2'),
		url('../font/Gilroy-Semibold.woff') format('woff'),
		url('../font/Gilroy-Semibold.ttf') format('truetype');
}