@import "./fonts";
@import "./iconfonts";
@import "./reset";
@import "./mixin";
@import "block/*.scss";

html {
   box-sizing: border-box;
}

*, *::before, *::after {
   box-sizing: inherit;
}

body {
   font-size: 16px;
   font-family: 'Gilroy-Regular';
   line-height: 1.6;
   margin: 0;
   background: #F9F1E7;
}

.wrapper {
   // max-width: 1440px;
}

.container {
   max-width: 1240px;
   margin: 0 auto;
   padding: 15px;
}
