.header {
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;

      &__wrapper {
         // position: fixed;
         widows: 100%;
         top: 0;
         left: 0;
         z-index: 50;
		}

      &__container {
         display: flex;
         justify-content: space-between;
         align-items: center;
         min-height: 125px;
         position: relative;
		}

		&__main {
         display: flex;
         justify-content: space-between;
         align-items: center;
         flex: 0 0 calc(494 / 1240) * 100%;
         @include breakpoint (lg) {
            flex: 1 1 auto;
         }
		}

		&__logo {
         margin-right: 41px;
		}

		&__nav {
         flex: 0 1 420px;
		}

		&__search {
         @include mobFistBreakpoint (lg) {
            flex: 1 1 auto;
         }
         @media (max-width: 1240px) {
            padding-right: calc(10px + (32 - 10) * ((100vw - 320px) / (1240 - 320)));
         }
		}

      &__action {
		}
   }
.search-form {
   max-width: 473px;
   &.active {
      .search-form__item {
         opacity: 1;
         visibility: visible;
         top: 100%;
      }
      .search-form__icon {
         color: #E89F71;
      }
   }
		&__item {
         display: flex;
         align-items: center;
         background-color: #fff;
         @include breakpoint(lg) {
            box-shadow: 0 0 5px rgba(212, 209, 205, 0.3);
            position: absolute;
            width: 100%;
            left: 0;
            top: -100%;
            visibility: hidden;
            opacity: 0;
            z-index: 5;
            transition: all 0.3s ease;
         }
		}

      &__icon {
         @include reset-button;
         position: relative;
         z-index: 5;
         font-size: 22px;
         color: #262F56;
         @include mobFistBreakpoint(lg) {
            display: none;
         }
         
		}

		&__button {
         @include reset-button;
         flex: 0 0 45px;
         height: 45px;
         color: #333333;
         font-size: 15px;
		}

		&__input {
         border: none;
         color: #616161;
         font-size: 14px;
         width: 100%;
         padding: 0 20px 0 0;
         outline: none;
		}
}
.logo {
   @include reset-link;
   font-family: Gilroy-Bold;
   font-size: 24px;
   line-height: calc(29/24)*100%;
   color: #000000;
}
.nav {

		&__list {
         @include mobFistBreakpoint (md) {
            display: flex;
            justify-content: space-evenly;
            @include reset-list;
            flex-wrap: wrap;
         }
		}

		&__item {
         position: relative;
         // display: flex;
         justify-content: space-between;
         align-items: center;
         flex-wrap: wrap;
         margin: 0 3px;
         padding: 5px 0;
         @media (any-hover: hover) {
            &:hover {
               .nav__sub-menu {
                  transform: translate(0px, 0px);
                  opacity: 1;
                  visibility: visible;
                  pointer-events: auto;
               }
               .icon-arrow {
                  transform: rotate(-180deg);
               }
               .nav__link,
               .icon-arrow {
                  color: #E89F71;
               }
            }
         }
         @include mobFistBreakpoint (md) {
            &.hover {
               .nav__sub-menu {
                  transform: translate(0px, 0px);
                  opacity: 1;
                  visibility: visible;
                  pointer-events: auto;
               }
               .icon-arrow {
                  transform: rotate(-180deg);
               }
               .nav__link,
               .icon-arrow {
                  color: #E89F71;
               }
            }
         }
		}

		&__link {
         font-family: Gilroy-Medium;
         font-size: 16px;
         color: #3A3A3A;
         @include reset-link;
         transition: color 0.3s ease 0s;
		}

		&__sub-menu {
         @include reset-list;
         position: absolute;
         background-color: #E89F71;
         padding: 8px;
         flex: 1 1 100%;
         @include mobFistBreakpoint (md) {
            opacity: 0;
            visibility: hidden;
            transition: all 0.3s ease;
            transform: translate(0px, 10px);
            min-width: 200px;
            top: 30px;
            left: 0;
            pointer-events: none;
            z-index: 2;
         }
		}

      &__sub-menu_visible {
         
		}

		&__sub-item {
         &:not(:last-child) {
            margin: 0 0 5px 0;
         }
		}

		&__sub-link {
         @include reset-link;
         color: white;
         line-height: 120%;
		}
}

.icon-arrow {
   margin: 0 0 0 8px;
   @include reset-button;
   transition: all 0.3s ease;
}
.icon-lens {
}
.action-header {
   position: relative;
   z-index: 5;
   display: grid;
   grid-template-columns: auto;
   grid-auto-flow: column;
   align-items: center;
   gap: 32px;
   @media (max-width: 1240px) {
      gap: calc(10px + (32 - 10) * ((100vw - 320px) / (1240 - 320)));
   }

		&__item {
		}

		&__favorit {
         text-decoration: none;
         color: #262F56;
         font-size: 24px;
         transition: color 0.3s ease;
         @media (any-hover: hover) {
            &:hover {
               color: #E89F71;
            }
         }
		}

      &__user {
         overflow: hidden;
         border-radius: 50%;
         width: 40px;
         height: 40px;
         @media (max-width: 1240px) {
            width: calc(30px + (40 - 30) * ((100vw - 320px) / (1240 - 320)));
            height: calc(30px + (40 - 30) * ((100vw - 320px) / (1240 - 320)));
         }
		}
      &__img-user{
         width: 110%;
      }
}
.icon-heart {
}
.cart-header {
   position: relative;
   display: block;
   width: 24px;
		&__cart {
         text-decoration: none;
         color: #262F56;
         font-size: 24px;
         transition: color 0.3s ease;
         position: absolute;
         top: 50%;
         transform: translateY(-50%);
         @media (any-hover: hover) {
            &:hover {
               color: #E89F71;
            }
         }
		}

      span {
         position: absolute;
         width: 20px;
         height: 20px;
         display: flex;
         justify-content: center;
         align-items: center;
         right: -10px;
         top: -10px;
         border-radius: 50%;
         background-color: #E89F71;
         color: white;
         font-size: 12px;
      }

		&__list {
		}
}
.icon-cart {
}
