@mixin ph {
   @media (max-width: 700px) {
      @content;
   }
}

.news {
   list-style: none;
   padding: 0px;
   display: flex;
   justify-content: space-between;
   @include ph {
      display: block;
   }
}
.icon-in:hover {
   color: red;
}